body {
background-image: url("background.png") ;    
}

h1 {
    color: #0f110c;
    font-family: monospace;
    text-align: center;
    letter-spacing: 7px;
    text-shadow: 2px 2px 8px #ffba08;
    font-weight: bold;
    font-size: 50px;
}

#nachospic {
    max-width: 200px;
    max-height: 200px;
}

#tacospic {
    max-width: 200px;
    max-height: 200px;
}

#margspic {
    max-width: 200px;
    max-height: 200px;
}


.ratingtaco {
    max-width: 50px;
    max-height: 50px;
}

/* img {
    width: 50px;
    height: 50px;
} */